/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*-------------------------------------------------------------------whole page container*/

html {
  height: 100vh;
}
body {
  padding-top: 65px;
  padding-bottom: 70px;
  overflow: hidden;
  position: relative;
}

/*-------------------------------------------------------------------Header*/
.container-fluid {
  overflow-x: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*-------------------------------------------------------------------Header Navigation*/
.fixed-top{
    margin-bottom: 10px;
}
.header-left-nav,
.header-right-logo {
  background-color: #f9c74f;
  margin: 0;
  color: #193f34;
}
.header-right-logo {
  padding: 30px 20px 0px 0px;
  letter-spacing: 1.5px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  line-height: 25px;
  font-size: 18px;
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.logo-link{
    color: #193f34
}
.logo-link.active,  .logo-link:focus, .logo-link:hover {
color: #873408;
text-decoration: none;
}
.navbar-toggler {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-nav {
  margin: 0px 0px 0px 25px;
  padding: 0px;
}

.nav-item {
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 700;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
}

/*Styling navbar elements requires high specificity to override default bootstrap: https://stackoverflow.com/questions/43381596/bootstrap-4-navbar-color */

.navbar-light .nav-item .nav-link {
  color: #193f34;
}

.nav-link i {
  padding-right: 10px;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #873408;
}

.navbar-light .navbar-toggler {
  margin-top: 15px;
  border-color: #193f34;
}

/*-------------------------------------------------------------------Main Content Area*/
.main-content-area {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 500px;
  padding-bottom: 65px;
  padding-top: 65px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}
.main-content-area-garden {
  width: 100%;
  background-color: #fef8e9;
  height: 100-vh;
  min-height: 500px;
  padding-bottom: 65px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 70px;
}

/*Content on about.html and garden.html based on Bootstrap card-deck with additional custom CSS styling - primarily to keep the footers at the bottom of the cards*/

.card-deck {
  margin: 0px 10px 80px 10px;
}
.card-container {
  margin: 35px 15px 5px;
}
.card-container p {
  font-family: "Open-Sans", sans-serif;
  padding: 0px 20px 0px 8px;
}
.card-container h2,
h5 {
  font-family: "Open-Sans", sans-serif;
  text-transform: uppercase;
  padding: 0px 20px 0px 8px;
  color: #215445;
  letter-spacing: 1px;
  font-weight: 400;
}
.card {
  border-color: rgba(67, 131, 151, 0.9);
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  height: 100%
}
.card-body .card-text {
  font-family: "Open Sans", sans-serif;
}
.card-content {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
height: 100%;
}

blockquote{
padding: 15px 20px 0px 20px;
font-family: "Open-Sans", sans-serif;
font-size: small;
font-weight: 300;
color: #36495A;
font-style: italic;
border-top: 1px solid #f9c74f;
margin-bottom: 0px;
}
.card blockquote{
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: auto;
}
/*-------------------------------------------------------------------Form Area*/
/*Contact form based on the Love Running walkthrough project*/

.contact-page-main{
    width: 100%;
  background-color: #fef8e9;
  height: 100-vh;
  min-height: 500px;
  margin-bottom: 50px;

}
.form-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
margin-top: 90px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  height: 100%;
}
.contact-form {
  padding: 20px;
  width: 90%;
  padding: 10px 40px 35px;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #fff;
  background-color: rgba(67, 131, 151, 0.9);
  border: 1px solid #f9c74f;
  border-radius: 5px;
}
.contact-form h2 {
  color: #fafafa;
  padding: 10px;
}
.text-input {
  display: block;
  background: transparent;
  color: #fafafa;
  width: 60%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.message-text {
  height: 100px;
  width: 75%;
  background: transparent;
  border: 1px solid #fafafa;
  text-align: left;
  color: #fafafa;
}
textarea {
  color: #fafafa;
}
textarea .placeholder {
  color: #fafafa;
}
/* Placeholder text color in the form */
/* WebKit, Edge */
::-webkit-input-placeholder {
  color: #fafafa;
}
/* Firefox 4-18 */
:-moz-placeholder {
  color: #fafafa;
  opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: #fafafa;
  opacity: 1;
}
/* IE 10-11 */
:-ms-input-placeholder {
  color: #fafafa;
}
/* Edge */
::-ms-input-placeholder {
  color: #fafafa;
}
/* MODERN BROWSER */
::-webkit-input-placeholder {
  color: #fafafa;
}
::-moz-placeholder {
  color: #fafafa;
}
:-ms-input-placeholder {
  color: #fafafa;
}
::-ms-input-placeholder {
  color: #fafafa;
}
::placeholder {
  color: #fafafa;
}
/* End placeholder text styling */

.message-text:hover {
  border-color: #f9c74f;
}

.text-input:hover {
  border-color: #f9c74f;
}
.send-button {
  margin-top: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 100%;
  background-color: #fce2a6;
  color: #161d24;
  display: block;
  border: none;
}
.send-button:hover {
  background-color: #f3722c;
  color: #fafafa;
}

/*-------------------------------------------------------------------Welcome Mat*/
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome-mat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.welcome-content {
  color: #FFe32e;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #f9c74f;
  background-color:  rgba(67, 131, 151, 0.9);
  margin-top: 25px;
}
.welcome-text {
    margin-top: 40px;
}

.welcome-content p{
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
  font-family: "Cormorant Garamond", sans-serif;
}

/*-------------------------------------------------------------------Footer*/
footer {
  margin-top: 10px;
}

.footer-left,
.footer-right {
  background-color: #438397;
  color: #fafafa;
  height: 70px;
  font-family: "Open Sans", sans-serif;
}
.footer-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 10px;
}
.footer-left .copyright{
    font-family: "Open-Sans", sans-serif;
    padding-left: 20px;
    text-align: center;
}


.footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top:0px;
}
.footer-right .list-inline{
    margin-bottom: 0;
}

/*Social links transitions based on Bootstrap 4 'Resume' mini-project
Icon alignment using flex: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container#Properties_that_control_alignment */

.social-links{
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.social-links i {
    color: #fafafa;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-size: 24px;
}
.social-links i:hover{
    color: #f9c74f;
}

/*-------------------------------------------------------------------Media queries*/

@media only screen and (min-width: 768px) {
  .footer-left,
  .footer-right {
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    height: 70px;
    padding-bottom: 10px;
    margin-bottom:0;
  }
  .footer-left p{
      padding: 15px 0px 25px;
  }
  .footer-right {
    padding-top: 0;
    font-size: 1.25em;
  }
  .welcome-mat{
      margin-top:75px;
}
.card-deck{
    margin-bottom: 50px;
}
}
/* Media query to control behaviour of header/footer at different screen sizes*/

@media only screen and (min-width: 425px) {
 .header-right-logo {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  letter-spacing: 1px;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 700;
  font-size: 22px;
  min-height: 65px;
  line-height: 50px;
}
.footer-left .copyright{
    font-size: 12px;
}
  }

  /* Media query to allow social icons (footer) to display at reduced size on smaller screens:*/
@media only screen and (max-width: 320px) {
 .social-links i {
    padding-left: 10px;
    font-size: 12px;
}
}

/* Media-query to prevent header being pushed down into content at small screen size (when line breaks between icon and text): */

@media only screen and (max-width: 768px) {
.nav-link i {
  padding-right: 5px;
}
.nav-item {
font-size: 14px;
margin-left: 5px;
}
}

