@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300;400;500;700&display=swap');

/*-------------------------------------------------------------------whole page container*/

/* body{
    background-image: url("../images/bg-home.jpeg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: top;
}
*/
/*-------------------------------------------------------------------Header*/

.container-fluid{
    overflow-x: hidden;
}

.header-left-nav, .header-right-logo{
    background-color: #F9C74F;
    margin:0;
    min-height: 65px;
    color:#193F34;
}
.header-right-logo{
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
    padding-right: 30px;
    letter-spacing: 2px;
    font-family: "Spectral SC", sans-serif;
    font-weight: 700;
    font-size: 20px;
    min-height: 65px;
}
.navbar-toggler{
    margin-left:25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-nav{
    margin: 0;
    padding:0;
}

.nav-item{
    margin-left: 25px;
    padding-top:15px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Spectral SC", sans-serif;
}
.nav-link{
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------------------------Main Content Area*/
.test{
background-color: red;
margin: 0;
min-height: 100px;
margin-top: 0;
}
.test{
    width: 100%;
    min-height: 900px;
    background-color: red;
    background-image: url("../images/bg-home.jpeg")
}

/*-------------------------------------------------------------------Footer*/
.footer-left, .footer-center, .footer-right{
    background-color: #438397;
    height: 50px;
}
/*-------------------------------------------------------------------Media queries*/

  